<div class="panel-header">
        <div class="header text-center">
          <h2 class="title">Editing Entry</h2>
          <p class="category"><a target="_blank" href="/" class="text-decoration-none">Residency RS </a>property administration.</a></p>
          <br/>
        </div>
      </div>
<%= render 'form', entry: @entry %>

