<% if current_user && current_user.admin %>

<div class="panel-header">
        <div class="header text-center">
          <h2 class="title">Editing Entry</h2>
          <p class="category"><a target="_blank" href="/" class="text-decoration-none">Residency RS </a>property administration.</a></p>
          <br/>
        </div>
      </div>
<%= render 'form', entry: @entry %>

 <% else %>   

      <div class="alert alert-danger">
      <button type="button" aria-hidden="true" class="close">
      <i class="now-ui-icons objects_key-25"></i>
      </button>
      <span><b> You don't belong here!</b></span>
      </div>

      <% end %>