  <div class="panel-header">
        <div class="header text-center">
          <h2 class="title">Residence List</h2>
          <p class="category">Your favorited places</p>
        </div>
      </div>
<div class="content">  
<div class="row row-cols-1 row-cols-md-3">
  <% current_user.favorites.each do |favorite| %>  
      <div class="col-sm-3 mb-4">
        <div class="card card-chart">
          <div class="card-header">
                <div class="dropdown">
                  <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons design_bullet-list-67"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <%= link_to 'Visit', favorite.entry, class: "dropdown-item"%></a>                    
                  </div>
                </div>
              </div>
          <div class="card-body">
            <p class="lead text-center text-capitalize fw-bold"><%= favorite.entry.building %></p>  
            <h5 class="card-category text-center"><%= favorite.entry.location %></h5>
              <hr class="my-4">
            <div class="container text-center">          
            <td><i class="now-ui-icons arrows-1_refresh-69"></i><small class="text-right">  Added &ndash; <%= time_ago_in_words(favorite.created_at)%> ago </small></td>
          </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
</div>.

