  <% if user_signed_in? %> 

    <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="/" class="simple-text logo-mini">
          <i class="fas fa-city"></i>
        </a>
        <a href="/" class="simple-text logo-normal">
          Residency RS
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="/">
              <i class="fas fa-dice-d6"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/preferences/new">
              <i class="fas fa-fingerprint"></i>
              <p>User Preference </p>
            </a>
          </li>
          <li>
            <a href="/list">
              <i class="far fa-map"></i>
              <p>Residence List</p>
            </a>
          </li>          
          <li>
            <a href="/users/edit">
              <i class="fas fa-user-astronaut"></i>
              <p>Edit Profile</p>
            </a>
          </li>    
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
            <a class="navbar-brand" href="#pablo"></a>
          </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <%= form_tag(search_entry_path, :method => "get") do %> 
              <div class="input-group no-border">
                <%= search_field_tag :search, params[:search], placeholder: "Search location...", class: "form-control me-2"%>         
              </div>

              <% end %>
              
            <ul class="navbar-nav">              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-street-view"></i>
                  <p>
                    <span class="d-lg-none d-md-block">User</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                 <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item"%>     
                </div>
              </li>   
              <% if current_user && current_user.admin %>           
              <li class="nav-item">
                <a class="nav-link" href="/entries">
                  <i class="fa fa-globe"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Admin</span>
                  </p>
                </a>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

      <% else %>   

      <%= render 'home/secheader' %>

      <% end %>

      
      
